body {
  height: 100%;
  overflow-x: hidden;
}


.navbar .nav-item {
  padding: 10px 20px;
}
.navbar .nav-link {
  margin-left: 10px;
}
.fa-bars {
  color: black;
  font-size: 30px;
}
.navleft{
  margin-left: 34%;

}

nav {
  padding: 10px 50px 10px 50px !important;
  position: relative;
  display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #E9ECEF !important;;
    background-color: white;
}

.pro {
  color: #219ebc !important;
  font: normal normal 600 14px/18px Montserrat;
  margin-right: 10px;
  
  
}

#prodect-color{
  text-align: left;
font: normal normal 600 14px/18px Montserrat;
letter-spacing: 0px;
color: #219EBC;
opacity: 1;

}

  

ul, li, a {
  text-align: left;
font: normal normal normal 14px/18px Montserrat;
letter-spacing: 0px;
color: #4E6E7E;
opacity: 1;
}
/* nav end*/





#subbutton {
  padding: 10px 24px;
  background-color: white;
  border: 1.5px solid #219ebc;
  border-radius: 4px !important;
  font: normal normal 600 14px/18px Montserrat;
  opacity: 1;
  color: #219ebc;
}  
 
.main {
  margin: 50px 70px 0 70px;
}

#para {
  text-align: left;
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  opacity: 1;
}

li {
  list-style: none;
  margin-left: -30px;
  margin-top: 18px;
  color: #219ebc;
}

#vehicle1 {
  background: transparent url("img/icons8-checked-checkbox.png") 0% 0% no-repeat
    padding-box;
  opacity: 1;
  background-color: #219ebc;
}


#label1 {
  margin-left: 15px;
  text-align: left;
  font: normal normal medium 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #9aacb5;
  text-transform: capitalize;
  opacity: 1;
}

#label1:hover{
  color: #219EBC;
  font: normal normal medium 14px/18px Montserrat;
}

.phone {
  height: 300px;
  background: #e3f7f4 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  position: relative;
  text-align: center;
}

.phone2 {
  height: 300px;
  background: #ebf5f3 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  position: relative;
  text-align: center;
}

.phone3 {
  height: 300px;
  background: #f7f7ed 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  position: relative;
  text-align: center;
}

#pixcel {
  margin-top: 65px;
}

#left-p {
  margin-top: 15px;
  text-align: left;
  font: normal normal 600 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #023047;
  opacity: 1;
}
#right-p {
  margin-top: 15px;
  text-align: left;

  font: normal normal 600 18px/22px Montserrat;
  letter-spacing: 0px;
  color: #023047;
  opacity: 1;
  float: right;
}

#top-p {
  text-align: left;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  opacity: 1;
}

#bottom-p {
  text-align: left;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  opacity: 1;
  float: right;
}

.star {
  color: #ffb703;
}

.cardDiv{
  margin-bottom: 20px;
}
.showme {
  display: none;
  
}
.showhim:hover .showme {
  display: block;
}
.showhim:hover .ok {
  display: none;
}

#view1{
  
  color: #219ebc;
  font: normal normal medium 10px/15px Montserrat;
  color: #219ebc;
    background: none;
    border: none;
    text-decoration: underline;
    margin-top: -10px;
    text-align: left !important;
    outline-style: none;
    border-color: none;
}
#view1:focus{
  box-shadow: none;
}

#view {
  text-align: left;
  letter-spacing: 0px;
  color: #219ebc;
  margin-top: -12px;

  opacity: 1;
}

#btn {
  background: #219ebc 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  border-style: none;
  padding: 15px 10px;
  text-align: left;
  font: normal normal 600 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  width: 70%;
  margin-top: -40px;
  float: right;
  text-align: center;
  opacity: 1;
}

.boxx {
  margin-top: 20px !important;
}

.here {
  text-align: center;
  font: normal normal medium 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #ccd6da;
  opacity: 1;
  margin: 40px;
}

.foot {
  
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  border-top: 0.5px solid #E9ECEF !important;
}

.footer {
  
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.copyright {
  text-align: left;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  text-transform: capitalize;
  opacity: 1;
}

.care {
  float: right !important;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  text-transform: capitalize;
  opacity: 1;
}

/* model popup */

#icon3 {
  margin-right: 10px;
  margin-left: 10px;
}

.header {
  margin: 30px 30px;
}
h4 {
  text-align: left;
  font: normal normal bold 20px/24px Montserrat;
  letter-spacing: 0px;
  color: #023047;
  opacity: 1;
}
.close {
  float: right;
}

#icon5 {
  text-align: start;
  margin-top: 110px;
  margin-bottom: 40px;
}

#icon4 {
  float: right;
  margin-top: 110px;
}

#pixcel1 {
  margin-top: 40px;
}

.midscol {
  
  height: 275px;
  
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.midscol::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.midscol {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.headpic{
  margin-bottom: 60px;

}

#btnn {
  background: #219ebc 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  border-style: none;
  padding: 15px 10px;
  text-align: left;
  font: normal normal 600 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  width: 60%;
    float: right;
  text-align: center;
  opacity: 1;
}

#bottom-y {
  text-align: left;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  opacity: 1;
  
}

#dollor{

font: normal normal medium 26px/30px Montserrat;
letter-spacing: 0px;
color: #023047;
opacity: 1;

}

.fooderpop{
  margin-top: 10px;
 
  
}

.left-side{
  text-align: left;
font: normal normal 600 15px/18px Montserrat;
letter-spacing: 0px;
color: #023047;
opacity: 1;

}

.right-side{
  text-align: left;
font: normal normal normal 12px/15px Montserrat;
letter-spacing: 0px;
color: #4E6E7E;
opacity: 1;
margin-bottom: 25px;

}

.color{
  
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #4E6E7E;
  opacity: 1;
 
  
}
.conts{
  text-align: left;
font: normal normal 600 14px/18px Montserrat;
letter-spacing: 0px;
color: #023047;
opacity: 1;
}
.cont{
  
 margin-bottom: 40px;
display: flex;
gap: 5px;
}

#cir-b{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #2D3735 0% 0% no-repeat padding-box;
opacity: 1;
border: 1px solid #E9ECEF;

}

#bunbutton{
  float: right;
  cursor: pointer;
}

#pix5{
  text-align: left;
font: normal normal bold 20px/24px Montserrat;
letter-spacing: 0px;
color: #023047;
opacity: 1;
}

#cir-w{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #E9ECEF 0% 0% no-repeat padding-box;
opacity: 1;
border: 1px solid #E9ECEF;
}
#cir-s{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #219EBC 0% 0% no-repeat padding-box;
opacity: 1;
border: 1px solid #E9ECEF;
}

/* lgpopup */

#pixcel2 {
  margin-top: 30px;
}

#icon6 {
  text-align: start;
  margin-top: 90px;
  margin-bottom: 40px;
}

#icon7 {
  float: right;
  margin-top: 90px;
}

.intu{
  margin-top: 30px;
}

#btnnlg {
  background: #219ebc 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  border-style: none;
  padding: 15px 10px;
  margin-top: 20px;
  font: normal normal 400 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  width: 60%;
    float: right;
  text-align: center;
  opacity: 1;
}

.bottombor{
  border-bottom: 0.2px solid #E9ECEF;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.midscoll {
  
  height: 425px;
  
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.midscoll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.midscoll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* bill popup */


.headertop {
  margin: 10px 10px 10px 10px;
}
  
.class-top{
  margin-bottom: 40px;
  
}


.middivleft{
  margin-right: 3px !important;
  padding: 20px 10px 10px 10px;
  border: 1px solid #E9ECEF;
  border-radius: 5px !important;
opacity: 1;
  margin-bottom: 15px;

}

.middivbottom{
  margin-right: 3px !important;
  padding: 20px 10px 30px 10px;
  border: 1px solid #E9ECEF;
  border-radius: 5px;

}

.middiv{
  padding: 20px 10px 20px 10px;
  border: 1px solid #E9ECEF;
  border-radius: 4px;
  opacity: 1;
}

#text-mid{
  text-align: center;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #B3C1C8;
  opacity: 1;
  line-height: 45px;
}

#text-midbold{
  text-align: right;
font: normal normal 600 12px/15px Montserrat;
letter-spacing: 0px;
color: #023047;
opacity: 1;
line-height: 45px;
}

#text{
  text-align: left;
font: normal normal normal 12px/15px Montserrat;
letter-spacing: 0px;
color: #B3C1C8;
opacity: 1;
margin-bottom: 25px;
}

#textbold{
  text-align: left;
font: normal normal 600 12px/15px Montserrat;
letter-spacing: 0px;
color: #023047;
opacity: 1;
margin-bottom: 25px;
}

#textcolor{
  text-align: right;
font: normal normal bold 12px/15px Montserrat;
letter-spacing: 0px;
color: #219EBC;
text-transform: uppercase;
opacity: 1;
cursor: pointer;
}
#text1{
  text-align: left;
  padding-left: 17px;
font: normal normal normal 12px/15px Montserrat;
letter-spacing: 0px;
color: #B3C1C8;
opacity: 1;
}

#text2{
  text-align: right;
font: normal normal medium 400 12px/15px Montserrat;
letter-spacing: 0px;
color: #023047;
opacity: 1
}

#pixtext{
  text-align: left;
  padding-left: 17px;
font: normal normal bold 16px/19px Montserrat;
letter-spacing: 0px;
color: #023047;
opacity: 1;
}

#btnnfix{
  background: #219ebc 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  border-style: none;
  padding: 15px 10px;
  text-align: left;
  font: normal normal 600 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  opacity: 1;
}


#text-label{
  text-align: left;
font: normal normal normal 12px/15px Montserrat;
letter-spacing: 0px;
color: #4E6E7E;
opacity: 1;
margin-top: 20px;
margin-bottom: 5px;
}

#city{
  width: 100%;
}

#fname{
  width: 100%;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1.5px solid #E9ECEF;
border-radius: 4px;
opacity: 1;
padding: 7px 10px 7px 10px;
outline:none;
text-align: left;
font: normal normal normal 12px/15px Montserrat;
letter-spacing: 0px;
color: #B3C1C8;
opacity: 1;
}
#fname:hover{
  
  border-color: #219EBC;
  background-color: #f8fbfc;
}

#city:hover{
  
  border-color: #219EBC;
  background-color: #f8fbfc;
}

#city{
  width: 100%;
  height: 40px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #E9ECEF;
border-radius: 4px;
opacity: 1;
padding: 7px 10px 7px 10px;
outline:none;
text-align: left;
font: normal normal normal 12px/15px Montserrat;
letter-spacing: 0px;
color: #B3C1C8;
opacity: 1;
}

::-webkit-input-placeholder { 
  color: #B3C1C8;
}


